body{
    height: 100vh;
}

#list-diagnostics{
    overflow-y: auto;
}

#form-list-diagnostics>select:focus {
    box-shadow: none;
}

#form-list-diagnostics>select>option:hover{
    background-color: #DCDCDC;
    border-radius: 20px;
}

#form-list-diagnostics>select>option:checked{
    background-color: #C0C0C0;
    border-radius: 20px;
}