{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Диагностика
{% endblock %}

{% block content %}
    <p class='h4 mt-3 border-bottom text-muted'>{{ select_pupil }}</p>

    <ul class="nav nav-tabs mt-3" id="myTab">
    {% for key,value in headers_tab %}
        <li class="nav-item">
            <a class="nav-link" href="#{{ key }}">{{ value }}</a>
        </li>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="state_functions" role="tabpanel" aria-labelledby="home-tab">
                {% bootstrap_form form layout='horizontal' form_group_class='form-group' horizontal_field_class='col-md-5'%}
            </div>
            <div class="tab-pane" id="senso_motor_level" role="tabpanel" aria-labelledby="profile-tab">
                PROFILE
            </div>
    </div>
        <button class="btn btn-primary" id="save-diag" type="submit">Сохранить</button>
    </form>

    <script>
    $('#myTab a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    </script>

{% endblock content %}