{% extends 'dist-layout/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Диагностика
{% endblock %}

{% block info_diagnostic %}
    <div class="d-flex my-2 my-md-0 mr-md-3">
        <div class="navbar-text mx-3">
            <p class='text-muted m-0'><b>Ученик:</b> </p>
            <p class='text-muted m-0'> {{ diagnostic.pupil }}</p>
        </div>
        <div class="navbar-text mx-3">
            <p class='text-muted m-0'><b>Дата обследования:</b></p>
            <p class='text-muted m-0'>{{ diagnostic.date_of_creation }}</p>
        </div>
        <div class="navbar-text mx-3">
            <p class='text-muted m-0'><b>Текущий класс:</b></p>
            <p class='text-muted m-0'>{{ diagnostic.current_class }} класс</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row mt-2 border-bottom">
        <div class="col">
             <ul class="nav nav-pills mt-1 pb-1" id="diagnosticTabs">
            {% for key,value in headers_tab %}
                <li class="nav-item">
                    <a class="nav-link" data-name="{{ key }}" href="#{{ key }}">{{ value }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col mb-5">
            <form id="diagnostic-form" method="POST" action="{% url 'main:save_diagnostic' %}">
                {% csrf_token %}
                <div class="tab-content mt-3">
                    <div class="tab-pane active" id="state_functions" role="tabpanel" aria-labelledby="state-functions-tab">
                        {% include 'main/state_of_functions.html' %}
                    </div>
                    <div class="tab-pane" id="senso_motor_level" role="tabpanel" aria-labelledby="senso-motor-level-tab">
                        {% include 'main/senso_motor_level.html' %}
                    </div>
                </div>
            </form>
        </div>
        <div class="fixed-bottom bg-light">
            <div class="container">
                <div class="row pt-2 pb-2">
                    <button class="btn btn-success ml-3" id="save-diag" type="submit">Сохранить</button>
                    <a class="btn btn-primary ml-2" href={% url 'main:index' %}>Отмена</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}