{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <p class='h4 mt-3 border-bottom text-muted'>{{ select_pupil }}</p>

    <ul class="nav nav-tabs mt-3" id="myTab">
      <li class="nav-item">
        <a class="nav-link" href="#home">Состояние функций</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#profile">Сенсомоторный уровень</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Грамматический строй речи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Словарный запас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Связная речь</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Языковой анализ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Логико-грамматические отношения и словообразование</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Чтение</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Письмо</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form action={% url 'main:add_diag'%} method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Слух</label>
                        <textarea name="ex1" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Зрение</label>
                        <textarea name="ex1" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Дыхание</label>
                        <textarea name="ex2" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Голос</label>
                        <textarea name="ex2" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Просодика</label>
                        <textarea name="ex2" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Артикуляционный аппарат</label>
                        <textarea name="ex3" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Общая моторика и мелкая моторика пальцев рук</label>
                        <textarea name="ex4" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Дополнительные сведения</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">PROFILE</div>
    </div>
    <script>
    $('#myTab a').on('click', function (e) {
      e.preventDefault()
      console.log($(this))
      $(this).tab('show')
    })
    </script>
{% endblock content %}