{% extends 'dist-layout/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Диагностика
{% endblock %}

{% block diagnostic_info %}
            <a class="navbar-brand" href="/">АИС РОУ</a>
            <div class="d-flex m-auto">
                <div class='px-3'><b>Ученик:</b> {{ diagnostic.pupil }}</div>
                <div class='px-3'><b>Дата обследования:</b> {{ diagnostic.date_of_creation }}</div>
                <div class='px-3'><b>Класс:</b> {{ diagnostic.current_class }}</div>
            </div>
            <div class="d-flex align-items-center">
                {% if user.is_authenticated %}
                <div class="username px-3">
                  {{ user }}
                </div>
                <div class="logout">
                    <a href="{% url 'main:logout' %}">Выход</a>
                </div>
                    {% else %}
                <div class="logout">
                    <a href="{% url 'main:login' %}">Вход</a>
                </div>
                {% endif %}
            </div>
{% endblock %}

{% block content %}

    <div class="">
        <div id='diagnostic-container' class="tab-content">
        </div>
        <div class="fixed-bottom bg-light">
            <div class="container">
                <div class="row pt-2 pb-2">
                    <button class="btn btn-success ml-3" id="save-diag" type="submit" onclick="this.blur();">Сохранить</button>
                    <a class="btn btn-primary ml-2" href={% url 'main:index' %}>Отмена</a>
                 </div>
            </div>
        </div>
    </div>

{% endblock content %}