{% extends 'layout/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Диагностика
{% endblock %}

{% block content %}
    <p class='h4 mt-3 border-bottom text-muted'>{{ select_pupil }}</p>

    <ul class="nav nav-tabs mt-3" id="myTab">
      <li class="nav-item">
        <a class="nav-link active" href="#home">Состояние функций</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#profile">Сенсомоторный уровень</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Грамматический строй речи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Словарный запас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Связная речь</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Языковой анализ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Логико-грамматические отношения и словообразование</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Чтение</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Письмо</a>
      </li>
    </ul>

    <div class="tab-content mt-3">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' form_group_class='form-group' horizontal_field_class='col-md-5'%}
                {% buttons submit='Сохранить' %}{% endbuttons %}
            </form>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            PROFILE
        </div>
    </div>
    <script>
    $('#myTab a').on('click', function (e) {
      e.preventDefault()
      console.log($(this))
      $(this).tab('show')
    })

    </script>
{% endblock content %}