{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
{% endblock js %}

{% block content %}

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 text-center">
            <form id="main-form" method="GET">
                <div class="form-group">
                    <label for="list_pupils">Выберите учащегося:</label>
                    <select name="pupil_id" id="list_pupils" class="form-control">
                        <option value="default">---------</option>
                        {% for item in logo_group_for_user %}
                            <option value="{{ item.id }}">{{ item.pupil }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="date_of_creation">Дата заполнения:</label>
                    <input id="date_of_creation" name="date_of_creation" type="date" class="form-control">
                </div>
                <div class="d-flex flex-column">
                    <button class="btn btn-success mt-2" id="create-diag" formaction='{% url 'main:create_diagnostic' %}'>Создать</button>
                    <button class="btn btn-primary mt-2" id="open-list-diag" formaction='{% url 'main:list_diagnostics' %}'>Список обследований</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content%}

