{% extends 'layout/base.html' %}
{% load bootstrap4 %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

{% if form.errors %}
    <p xmlns="http://www.w3.org/1999/html">Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
{% endif %}

    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <form action='{% url 'main:diagnostic' %}' method="GET">
{#            {% csrf_token %}#}
                <div class="form-group">
                    <label for="list_pupils">Выберите учащегося:</label>
                    <select name="pupil_id" id="list_pupils" class="form-control">
                        <option value="deffault">---------</option>
                        {% for item in logo_group_for_user %}
                            <option value="{{ item.id }}">{{ item.pupil }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="date_of_creation">Дата заполнения:</label>
                    <input id="date_of_creation" name="date_of_creation" type="date" class="form-control">
                </div>
                <button class="btn btn-primary mt-2" type="submit">Создать</button>
                <button class="btn btn-primary mt-2" type="submit">Список обследований</button>
            </form>
        </div>
    </div>


{#    <div class="row">#}
{#        <div class="col">#}
{#           <label for="list_pupils">Выберите обследований:</label>#}
{#           <select id="list_pupils" class="form-control" size="{{ diagnostics.count }}">#}
{#                {% for diagnostic in diagnostics %}#}
{#                    <option value="{{ diagnostic.id }}">{{ diagnostic.date_create }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
{#    </div>#}
    <script>
        $('.btn').attr('disabled', true)
        $('#date_of_creation').attr('disabled', true)
        $("#list_pupils").on('change', function (e) {
            if ($("#list_pupils").val() == 'deffault'){
                $('.btn').attr('disabled', true)
                $('#date_of_creation').attr('disabled', true)
            } else {
                $('.btn').attr('disabled', false)
                $('#date_of_creation').attr('disabled', false)
            }
        })
    </script>
{% endblock content%}