{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">#}
{#{% endblock css %}#}

{% block content %}

{% if form.errors %}
    <p xmlns="http://www.w3.org/1999/html">Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
{% endif %}

    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <form id="main-form" action='{% url 'main:diagnostic' %}' method="GET">
{#            {% csrf_token %}#}
                <div class="form-group">
                    <label for="list_pupils">Выберите учащегося:</label>
                    <select name="pupil_id" id="list_pupils" class="form-control">
                        <option value="default">---------</option>
                        {% for item in logo_group_for_user %}
                            <option value="{{ item.id }}">{{ item.pupil }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="date_of_creation">Дата заполнения:</label>
                    <input id="date_of_creation" name="date_of_creation" type="date" class="form-control">
                </div>
                <button class="btn btn-success mt-2" id="create-diag" type="submit">Создать</button>
                <button class="btn btn-primary mt-2" id="open-list-diag" formaction='{% url 'main:list_diagnostics' %}' type="submit">Список обследований</button>
            </form>
        </div>
    </div>
    <script>

    </script>
{% endblock content%}