
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <title>Вход</title>
</head>
<body>
<div class="row justify-content-center mt-3">
    <div class="col-md-5 text-center">
    {% if user.is_authenticated %}
        <p>Вы уше выполнили вход!</p>
        <a href="/">К системе</a>
    {% else %}
        <h4>Вход в систему</h4>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{{ next }}">
            {% buttons submit='Войти' %}{% endbuttons %}
        </form>
    {% endif %}
    </div>
</div>
</body>
</html>

