<div class="col-md-auto heading px-3">Фонематическое восприятие</div>
    <div class='phonemicPerception'>

      <div class="container">
        <div class="row justify-content-md-center mt-3">
          <div class="col-md-auto">
              <table class='state-table' data-scores="{{ scores }}">
                <tr></tr>
              </table>
          </div>
        </div>
        <div class="row justify-content-md-center mt-5">
          <div id="center" class="col-md-auto">
            <p id="text"></p>
          </div>
        </div>
          <div class="row buttons justify-content-center mt-4"></div>
      </div>
    </div>
