{% extends 'admin_panel/../layout/base_admin.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Группы
{% endblock %}

{% block meta %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'admin_panel/js/groups.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Группы</h1>
    </div>
    <div class="d-flex flex-row">
        <div class="col-md-auto">
            <form id="group_view_form" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="row">
                    <div class="col-md-auto save-group">
                        {% buttons submit="Прикрепить" %}{% endbuttons %}
                    </div>
                    {% bootstrap_messages %}
                </div>
            </form>
        </div>
        <div class="col-sm">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="tbody_group">
              {% for record in logo_groups_filtered %}
                <tr>
                  <th scope="row">{{ record.id }}</th>
                  <td>{{ record.pupil.first_name }}</td>
                  <td>{{ record.pupil.last_name }}</td>
                  <td>
                      <a class="text-danger unpin" href="#"><img alt="Удалить" width="15" src="https://img.icons8.com/cotton/64/000000/delete.png"/></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}