{% extends 'layout/base_admin.html' %}

{% load bootstrap4 %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Смена пароля пользователя {{ user.username }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form class="mt-4" method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                <div class="row">
                    <div class="col-md-auto">
                        {% buttons submit="Сменить пароль" %}{% endbuttons %}
                    </div>
                    {% bootstrap_messages %}
                </div>
            </form>
        </div>
     </div>
{% endblock %}