{% extends "admin_panel/../layout/base_admin.html" %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Пользователи</h1>
    </div>
    <a class="btn btn-outline-success" href="#" rel="modal:open">Добавить</a>
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered table-sm my-4">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Логин</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Отчество</th>
                  <th scope="col">Дата регистрации</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for user in list_users %}
{#                {% if user.is_staff %}#}
                <tr>
                  <td>{{ user.id}}</td>
                  <td>{{ user.username}}</td>
                  <td>{{ user.last_name}}</td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.patronymic|default_if_none:'' }}</td>
                  <td>{{ user.date_joined}}</td>
                  <td><a href="{% url 'profile_change' user.id %}"><img alt="Изменить" width="15" src="https://img.icons8.com/cotton/64/000000/create-new--v2.png"/></a></td>
                  <td><a href="#"><img alt="Удалить" width="15" src="https://img.icons8.com/cotton/64/000000/delete.png"/></a></td>
                </tr>
{#                {% endif %}#}
              </tbody>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}