{% load static %}

<script type="application/javascript" src="{% static 'js/admin_panel/form.js' %}" ></script>

<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Изменить</h1>
    </div>
    <form class="user-form" method="post" action="{% url 'edit_user' id %}">
        {% csrf_token %}
        {% for field in user_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        {{ profile_form.as_p }}
        <input class="btn btn-primary" type="submit" value="Сохранить">
    </form>
</div>
