{% extends "admin_panel/../layout/base_admin.html" %}
{% load staic %}
{% load bootstrap4 %}

{% block title %}Пользователи{% endblock %}

{% block meta %}
    <script type="text/javascript" src="{% static 'admin_panel/js/index.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Пользователи</h1>
    </div>
    <div class="row align-items-center">
        <div class="col-md-auto">
                <a class="btn btn-outline-success" href="{% url 'admin_panel:user_register' %}" rel="modal:open">Добавить</a>
        </div>
        <div id="messages" class="col-md-auto">
            {% for messsage in messages %}
                <div id="users_alert" class="alert alert-success" role="alert">
                    {{ messsage }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-sm">
            <table class="table table-bordered table-sm my-4">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Логин</th>
                  <th scope="col">Фамилия</th>
                  <th scope="col">Имя</th>
                  <th scope="col">Отчество</th>
                  <th scope="col">Админ</th>
                  <th scope="col">Дата регистрации</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for user in list_users %}
                <tr>
                  <td>{{ user.id}}</td>
                  <td>{{ user.username}}</td>
                  <td>{{ user.last_name}}</td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.patronymic|default_if_none:'' }}</td>
                  {% if user.is_staff %}
                  <td class="text-center"><img src="{% static 'admin_panel/icons/yes.ico' %}" width="15" alt=""></td>
                  {% else %}
                  <td class="text-center"><img src="{% static 'admin_panel/icons/no.ico' %}" width="15" alt=""></td>
                  {% endif %}
                  <td>{{ user.date_joined}}</td>
                  <td class="text-center"><a href="{% url 'admin_panel:user_change' user.id%}"><img alt="Изменить" width="15" src="https://img.icons8.com/cotton/64/000000/create-new--v2.png"/></a></td>
                  <td class="text-center"><a href="{% url 'admin_panel:user_set_password' user.id %}"><img alt="Изменить пароль" width="15" src={% static 'admin_panel/icons/change_password.ico' %}/></a></td>
                  <td class="text-center"><a href="{% url 'admin_panel:user_delete' user.id %}"><img alt="Удалить" width="15" src="https://img.icons8.com/cotton/64/000000/delete.png"/></a></td>
                </tr>
{#                {% endif %}#}
              </tbody>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
