{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %}</title>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    {% bootstrap_javascript jquery='full' %}
    {% block meta %}{% endblock %}
<body class="container-fluid">
    <div class="row bg-dark">
        <ul class="col nav justify-content-between">
            <li class="nav-item text-nowrap">
                <a class="nav-link text-light" href="/">АИС РОУ <b>Admin</b></a>
            </li>
            <li class="nav-item text-nowrap">
            {% if user.is_authenticated %}
                <a class="nav-link text-light" href="{% url 'main:logout'%}">
                     Выход
                </a>
            {% else %}
                <a class="nav-link text-light" href="{% url 'main:login' %}">
                    Вход
                </a>
            {% endif %}
            </li>
        </ul>
    </div>
    <div class="row">
        <nav class="col-md-auto nav flex-column border">
            <a class="nav-link text-dark" href="{% url 'admin_panel:users' %}">Пользователи</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link text-dark" href="{% url 'admin_panel:pupils' %}">Ученики</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link text-dark" href="#">Группы</a>
        </nav>
        <section class="col border py-2">
            {% block content %}{% endblock %}
        </section>
    </div>
    <footer class="mt-3"><p class="text-right font-italic">{% now 'Y' %}, ГОУ ЯО &laquo;Петровская школа-интернат&raquo;</p></footer>
</body>
</html>

