{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html"
          charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endblock css %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body >
    <nav class="navbar fixed-top navbar-light sticky-top bg-light flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2" href="/">АИС РОУ</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item d-flex text-nowrap">
            {% if user.is_authenticated %}
            <span class="navbar-text text-dark mr-3">
              {{ user }}
            </span>
                <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
            {% else %}
                <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
            {% endif %}
          </li>
        </ul>
    </nav>
        <div class="container">
        <div class="row border-bottom">
            <div class="col-md-3">
                <p class='mt-3 text-muted'><b>Ученик:</b> {{ select_pupil }}</p>
            </div>
            <span class="col-1 border-right border-left"></span>
            <div class="col-md-4">
                <p class='mt-3 text-muted'><b>Дата обследования:</b> {{ diagnostic.date_of_creation }}</p>
            </div>
            <span class="col-1 border-right border-left"></span>
            <div class="col-md-3">
                <p class='mt-3 text-muted'><b>Текущий класс:</b> {{ diagnostic.current_class }} класс</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
             <ul class="nav nav-pills mt-1 pb-1" id="myTab">
            {% for key,value in headers_tab %}
                <li class="nav-item">
                    <a class="nav-link" href="#{{ key }}">{{ value }}</a>
                </li>
            {% endfor %}
            </ul>
            </div>
        </div>
            {% block content %}
            {% endblock %}
        </div>
</body>
</html>

{% block js %}{% endblock js %}