{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
          content="text/html"
          charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Главная{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endblock css %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body >
    <nav class="navbar fixed-top navbar-light sticky-top bg-light flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-2 col-md-2" href="/">АИС РОУ</a>
        {% block info_diagnostic %}{% endblock %}
        <div class="login_nav col-md-auto">
            <ul class="navbar-nav px-3">
              <li class="nav-item d-flex text-nowrap">
                {% if user.is_authenticated %}
                <span class="navbar-text text-dark mr-3">
                  {{ user }}
                </span>
                    <a class="nav-link" href="{% url 'main:logout' %}">Выход</a>
                {% else %}
                    <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
                {% endif %}
              </li>
            </ul>
        </div>
    </nav>
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
</body>
</html>

{% block js %}{% endblock js %}